.card {
    background-color: var(--card-bg);
    border: 1px solid transparent;
    border-radius: 12px;
    position: relative;
    transition: transform 0.2s, border-color 0.2s;
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
}

/* animated glowing border */
/* credits to https://www.youtube.com/watch?v=8SeFSmvx3AA */
.card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(101% + 1px);
    height: calc(101% + 2px);
    transform: translate(-50%, -50%);
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(
        var(--rotation),
        /* #fad850, */
        /* #fde68a, */
        var(--text-link),
        var(--text-link-hover),
        transparent 60%,
        transparent
    );
    animation: spin 8s linear infinite;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    -webkit-animation: spin 8s linear infinite;
}

@property --rotation {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@keyframes spin {
    0% {
        --rotation: 0deg;
    }
    to {
        --rotation: 360deg;
    }
}

.card:hover {
    border-color: var(--accent-color);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(128, 128, 128, 0.1);
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: calc(var(--spacing-unit)*30);
    width: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card-content {
    background-color: var(--card-bg);
    padding: calc(var(--spacing-unit)*4) calc(var(--spacing-unit)*5);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: calc(var(--spacing-unit)*2);
}

.card-content h3 {
    color: var(--text-primary);
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing-unit)*2);
    
}

.tag {
    background: var(--border-color);
    color: var(--text-link-hover);
    padding: var(--spacing-unit) calc(var(--spacing-unit)*2);
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.card-content p {
    color: var(--text-primary);
    font-size: 0.9rem;
    line-height: 1.3;    
    margin-top: calc(var(--spacing-unit)*1);
    margin-bottom: calc(var(--spacing-unit)*2);
}

.card-links {
    margin-top: auto;
    display: flex;
}

.card-links a {
    color: var(--text-link);
    padding: calc(var(--spacing-unit)*2) calc(var(--spacing-unit)*4);
    background-color: var(--card-bg);
    border-color: var(--border-color);
    border: 1px solid;
    border-radius: 1rem;
}

.card-links a:hover {
    color: var(--text-link-hover);
    transition: 0.2s;
}