* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --bg-color: #0f172a;
    --text-primary: #bacde7;
    /* --text-secondary: #94a3b8; */
    --text-secondary: #a6b7cf;
    --text-link: #419bc2;
    --text-link-hover: #5fcddb;
    --card-bg: #1e293b;
    --border-color: #334155;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 20px; */
}

/* navbar */
.navbar {
    width: 100%;
    position: fixed;
    /* keeps it on screen while scrolling */
    left: 0;
    top: 0;
    background-color: var(--card-bg);
    border-right: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.5rem;
    gap: 2.5rem;
    z-index: 100;
}

.nav-brand {
    display: flex;
    align-items: center;
}

.nav-brand a {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-link);
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links a {
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

/* .nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #222;
    transition: all 0.3s ease;
    transform: translateX(-50%);
} */

.nav-links a:hover {
    /* background-color: var(--border-color); */
    color: var(--accent-color);
    /* padding-left: 65px; */
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-contacts {
    display: flex;
    align-items: center;
}

.nav-contacts a {
    padding: 0.5rem;
}

.main-content {
  flex: 1;
  padding: 40px;
}

/* intro */
.intro {
    text-align: center;
    padding: 100px 0;
    /* background-color: #f4f4f4; */
    /* border-radius: 12px; */
    margin-bottom: 0px;
}

.intro h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.projects-section {
    margin-bottom: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.2s, border-color 0.2s;
}

.card:hover {
    border-color: var(--accent-color);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(128, 128, 128, 0.1);
}

.card h3 {
    color: var(--text-primary);
}

.card p {
    color: var(--text-primary);
}

.tag {
    background: var(--border-color);
    color: var(--text-secondary);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-right: 5px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.footer-section {
    height: 10rem;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    padding-bottom: 3.5rem;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-links a {
    margin-right: 1rem;
}

a {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    transition: 0.2s;
    color: var(--text-link-hover);
}